{:irc {:server "irc.rizon.net"
       :port 6667
       :chan "#soranowoto"
       :username "Noelbot"}

 :db {:address "http://127.0.0.1"
      :database "noelbot-prod"}

 :comm {:no-query ["That's fascinating, %s"
                   "What do you mean?"
                   "Yeah I know the feeling"
                   "I ask myself the same question every day %s"
                   "Explain further"
                   "I don't get it"]

        :love-you ["I love you too %s"
                   "Oh you"
                   "%s~"]
        :love-you-not ["Sorry I actually love %s"
                       "Sorry, %s is the one I love"]

        :horror ["NO"
                 "AAAAAAAAAH"
                 "I DIDN'T DO ANYTHING"
                 "I CAN'T %s I CAN'T"]

        :music ["%s, you should listen to %s by %s: %s"]
        :no-music ["Sorry, I don't know any good music"
                   "Nah, your pleb-tier taste coudn't handle it"]

        :artigas-time ["Current Artigas time is %s"]}}